:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.merriweather-light {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}

.merriweather-regular {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-bold {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}

.merriweather-black {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
}

.merriweather-light-italic {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
}

.merriweather-regular-italic {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
}

.merriweather-bold-italic {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: italic;
}

.merriweather-black-italic {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
}


a {
  font-weight: 500;
  color: #8e424d;
  text-decoration: inherit;
}
a:hover {
  color: #8e424d;
}

body {
  background-image: url('./src/assets/gr_background.png'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  margin: 0;
  padding: 0;
  font-family: "Merriweather"; 
  position: relative;
  box-sizing: border-box; 
  width: 100vw; 
  overflow-x: hidden; 
  overflow-y: auto;
  min-height: 100vh;
}


h1 {
  font-size: 3em;
  line-height: 1.1;
  margin-top: 3rem;
  color:rgba(247, 236, 236, 0.87);
  text-align: center;
}

h2 {
  color:#8e424d;
  text-align: center;
}



.title{
  font-size: 5em;
  font-weight: 700;
  line-height: 1.1;
  margin-top: 11rem;
  color:rgba(247, 236, 236, 0.87);
}

.subtitle{
  font-size: 1.7em;
  font-weight: 700;
  line-height: 1.1;
  margin-top: 1rem;
  color:rgba(247, 236, 236, 0.87);
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ce6061;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #efd5d5;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f5dede;
  }
}
