:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.merriweather-light {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}

.merriweather-regular {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-bold {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}

.merriweather-black {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
}

.merriweather-light-italic {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
}

.merriweather-regular-italic {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
}

.merriweather-bold-italic {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: italic;
}

.merriweather-black-italic {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
}


a {
  font-weight: 500;
  color: rgba(247, 236, 236, 0.87);
  text-decoration: inherit;
  font-size: medium;
}
a:hover {
  color: #8e424d;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Merriweather"; 
  position: relative;
  box-sizing: border-box; 
  min-width: 100vw; 
  overflow-x: hidden; 
  overflow-y: auto;
  min-height: 100vh;
}


h1 {
  font-size: 3em;
  line-height: 1.1;
  margin-top: 3rem;
  color:rgba(247, 236, 236, 0.87);
  text-align: center;
}

h2 {
  color:#8e424d;
  text-align: center;
}



.title{
  font-size: 5em;
  font-weight: 700;
  line-height: 1.1;
  margin-top: 11rem;
  color:rgba(247, 236, 236, 0.87);
}

.subtitle{
  font-size: 1.7em;
  font-weight: 700;
  line-height: 1.1;
  margin-top: 1rem;
  color:rgba(247, 236, 236, 0.87);
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: medium;
  font-weight: 500;
  font-family: inherit;
  background-color: #a94f50;
  color:#f0e0db;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #964744;
  text-decoration: underline;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #723939;
  }
  a:hover {
    color: #fdeae8;
  }
}

.items-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; 
  padding-left: 60px;
  padding-right: 60px;
}

.item-box {
  background-color: #f3d1c7; 
  border: 1px solid #d19a9a; 
  border-radius: 8px; 
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease; 
}

.item-box:hover {
  transform: scale(1.02); 
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); 
}


.item-box img {
  border-radius: 5px; 
  margin: 10px 0;
}


.item-box button {
  margin: 10px 5px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #db8d80; 
  color: white;
}

.item-box button:hover {
  background-color: #ce6061;
}

.item-box a {
  color: white;
  text-decoration: none;
}

.item-box a:hover {
  text-decoration: underline;
}

.buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px; 
  margin-top: 6px;
}


.comments-section {
  margin-top: 30px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.comment-box {
  background-color: #f3d1c7;
  padding: 15px;
  margin-bottom: 15px;
  margin-right: 300px;
  margin-left: 300px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.comment-actions {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.comment-actions button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s ease;
}

.comment-actions button:hover {
  background-color: #0056b3;
}

.primary-button {
  display: block;
  margin: 20px auto 0 auto;
  padding: 10px 20px;
  background-color: #a94f50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.primary-button:hover {
  background-color: #a94f50;
}


.reviews-section {
  margin-top: 30px;
  padding: 20px;
  border-radius: 10px;
}

.review-box {
  background-color: #f3d1c7;
  padding: 15px;
  margin-bottom: 15px;
  margin-right: 300px;
  margin-left: 300px;
  border-radius: 8px;
  color: #723939;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.review-actions {
  margin-top: 10px;
  align-items: center;
  gap: 10px;
}


.review-actions button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #c4595a;
  color: white;
  margin: 5px;
  transition: background-color 0.3s ease;
}

.review-actions button:hover {
  background-color: #c4595a;
}

.review-box p {
  margin: 5px 0;
  font-size: 18px;
  font-weight: 200;
  color: #792929;
}


.stars {
  font-size: 2rem;
  color: #f8a362; 
}

.stars .empty {
  color: #575353; 
}


.b_books{
  margin-top: auto;
  margin-bottom: 1px;
}


.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  gap: 10px;
}

.search-input {
  padding: 12px;
  width: 40%;
  border: 2px solid #f7b5b5;
  border-radius: 5px;
  border-radius:10px;
  font-size: 16px;
}

.search-input:focus {
  outline: none;
  border-color: #da5151;
  box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5);
}

.search-button {
  padding: 10px 15px;
  border: none;
  background-color: #f9bcbc;
  color: white;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #f38484;
}
